<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30">
    <!--변수 설정-->
    <Properties>
        <Property name="BASE_DIR">./logs</Property> <!--로그 파일 경로-->
        <Property name="LOG_FORMAT">[%date{yyyy-MM-dd HH:mm:ss}][%level][%file:%line] %msg%n</Property><!--로그 출력 형태-->
    </Properties>

    <Appenders>
        <!--콘솔 로그-->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_FORMAT}"/>
        </Console>

        <!--로그 파일-->
        <RollingFile name="File" fileName="${BASE_DIR}/logs.log" filePattern="${BASE_DIR}/%d{yyyy-MM-dd}.logs.zip">
            <PatternLayout pattern="${LOG_FORMAT}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/> <!-- 매일(yyyy-MM-dd) log zip파일 생성 -->
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${BASE_DIR}">
                    <IfAccumulatedFileCount exceeds="4"/>   <!-- log 파일이 4개 이상일때 예전 log 파일 삭제-->
                    <!-- <IfFileName glob="*.log"/> --> <!-- 삭제할 파일명 -->
                    <!-- <IfLastModified age="3d"/> --> <!-- 마지막 로그가 찍히고 3일 이상된 log 파일 삭제 -->
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
        <Logger name="jdbc.connection"      level="WARN" additivity="false"><AppenderRef ref="console" /></Logger>
        <Logger name="jdbc.audit"           level="WARN" additivity="false"><AppenderRef ref="console" /></Logger>
        <Logger name="jdbc.sqlonly"         level="INFO" additivity="false"><AppenderRef ref="console" /></Logger>
        <Logger name="jdbc.sqltiming"       level="INFO" additivity="false"><AppenderRef ref="console" /></Logger>
        <Logger name="jdbc.resultset"       level="WARN" additivity="false"><AppenderRef ref="console" /></Logger>
        <Logger name="jdbc.resultsettable"  level="INFO" additivity="false"><AppenderRef ref="console" /></Logger>

        <Logger name="com.mybatisrestapi" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>


    </Loggers>
</Configuration>