<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatisrestapi.dao.BoardDao">



    <select id="getBoardList" resultType="BoardDto">
        select id, title, contents, author, delyn
        from board
        where delyn = 'N'
    </select>

    <select id="getBoard" resultType="BoardDto">

        select id, title, contents, author, delyn
        from board
        where id = #{param} and delyn = 'N'
    </select>


    <insert id="newBoard"
            parameterType="BoardDto"
            useGeneratedKeys ="true"
            keyProperty="id">

        insert into board(title, contents, author)
        values (#{title}, #{contents}, #{author})

    </insert>

    <update id="editBoard" parameterType="BoardDto">
        update board
        set title = #{title},
            contents = #{contents},
            author = #{author}
        where id = #{id} and delyn = 'N'
    </update>

    <update id="delBoard" parameterType="BoardDto">
        update board
        set delyn = 'Y'
        where id = #{id}
    </update>


</mapper>